@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    .responsive-stacked-table td {
        border-top: none;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
</style>


<div class="container-fluid">
   
    @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin")
                               && !User.IsInRole("Driver")
                               && !User.IsInRole("Dispatcher"))
    {
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-service wow fadeInDown">
                            <div class="header">
                                <img src="~/img/services/tracking.svg" alt="" width="100" height="100">
                            </div>
                            <div class="body">
                                <h5 class="text-secondary">Order Tracking</h5>
                                <div><input id="awbInput" placeholder="AWB" /><br /> <br /></div>
                                <a class="btn btn-primary awb">Tracking</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card-service wow fadeInDown">
                            <div class="header">
                                <img src="~/img/services/package.svg" alt="" width="100" height="100">
                            </div>
                            <div class="body">
                                <h5 class="text-secondary">Create Order</h5>
                                <p>Login to see your current and past orders and to track them via google maps</p>
                                <a class="btn btn-primary" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card-service wow fadeInUp">
                            <div class="header">
                                <img src="~/img/services/profile.svg" alt="" width="100" height="100">
                            </div>
                            <div class="body">
                                <h5 class="text-secondary">Profile</h5>
                                <p>Edit your profile so that your information and shipping adress are up to date</p>
                                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/PickupLocations">Profile</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card-service wow fadeInUp">
                            <div class="header">
                                <img src="~/img/services/estimae.svg" alt="" width="100" height="100">
                            </div>
                            <div class="body">
                                <h5 class="text-secondary">Cost Estimate</h5>
                                <p>Packages that are bigger than our standard requirments need to be handled differently</p>
                                <a href="service.html" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Read More</a>
                                <a href="#cost" class="btn btn-primary">Calculate</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- .container -->
        </div> <!-- .page-section -->


    }
    else if(!User.IsInRole("Admin")
         && !User.IsInRole("Driver")
         && !User.IsInRole("Dispatcher"))
    {
        <div class="page-section">
            <div class="container">
                <div class="row" style="justify-content: center">
                    <div class="col-lg-6">
                        <div class="card-service wow fadeInDown">
                            <div class="header">
                                <img src="~/img/services/tracking.svg" alt="" width="100" height="100">
                            </div>
                            <div class="body">
                                <h5 class="text-secondary">Order Tracking</h5>
                                <div><input id="awbInput" placeholder="AWB" /><br /> <br /></div>
                                <a class="btn btn-primary awb">Tracking</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-service wow fadeInUp">
                            <div class="header">
                                <img src="~/img/services/tracking.svg" alt="" width="100" height="100">
                            </div>
                            <div class="body">
                                <h5 class="text-secondary">Order Tracking</h5>
                                <p>Login to see your current and past orders and to track them via google maps</p>
                                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6" style="justify-content: center">
                        <div class="card-service wow fadeInUp">
                            <div class="header">
                                <img src="~/img/services/estimae.svg" alt="" width="100" height="100">
                            </div>
                            <div class="body">
                                <h5 class="text-secondary">Cost Estimate</h5>
                                <p>Packages that are bigger than our standard requirments need to be handled differently</p>
                                <a href="service.html" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Read More</a>
                                <a href="#cost" class="btn btn-primary">Calculate</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- .container -->
        </div> <!-- .page-section -->
    }
    @*<a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>*@
        <div class="modal fade" id="awbModal" tabindex="-1" role="dialog" aria-labelledby="awbModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="awb_body">
                    <h4 class="label" style="text-align: center; padding:10px"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Our calculator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </h4>
                    <h4> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="page-section center" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <span class="subhead">About us</span>
                    <h2 class="title-section">The number #1 Transport Service Company</h2>
                    <div class="divider"></div>

                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                  
                </div>
                <div class="col-lg-6 py-3 wow fadeInRight">
                    <div class="img-fluid py-3 text-center">
                        <img src="~/img/Maps_Tracking.png" alt="">
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .page-section -->

    <a id="cost" />
    <div class="container text-light mt-5">
        <div class="row justify-content-md-center">
            <div class="col-md-5 bg-dark p-3">
                <h1 class="text-center">Cost Estimate</h1>
                <form id="form">
                    <div class="form-group">
                        <label for="totalCost">Declared Value:</label>
                        <input type="text" class="form-control" id="totalCost" placeholder="Total">
                    </div>
                    <div class="form-group">
                        <label for="service">Aprox. Dimensions</label>
                        <select class="form-control" id="service">
                            <option value="0.20"> Can be carried on a bike</option>
                            <option value="0.30">It needs a car</option>
                            <option value="0.40"> It probably needs a small truck</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="peopleamt">Kilometers</label>
                        <input type="text" class="form-control" id="people" placeholder="Kilometers">
                    </div>
                    <br />
                    <button type="button" value="Submit" id="tipCalc" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- End layout -->
    <!--
      Bootstrap Modal
    -->
    <div class="modal fade" id="costModal" tabindex="-1" role="dialog" aria-labelledby="costModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="costModalLabel">Transport cost</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color:black">
                    <p style="color:black">The cost will be: </p><span id="tip"></span><span> lei</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!--Modal end-->
    <script type="text/javascript">

        document.getElementById("tipCalc").onclick = function () {
            calculateTip();
        };

       $(".awb").click(function(e){
           var awb = document.getElementById("awbInput").value;
         $.post("@Url.Action("GetAwb","Orders")", { awb : awb.toString()} ,function(data){
                $('.label').html(data);
               $('#awbModal').modal('show');
         });
          });

        function calculateTip() {
            var totalCost = document.getElementById("totalCost").value;
            var transport = document.getElementById("service").value;
            var Km = document.getElementById("people").value;
            let isnum = /^\d+$/.test(totalCost);
            //validate input
            if ((totalCost === "" && isnum) || Km <= 0) {
                
                alert("Please enter valid information");
                return;
            }

            //Calculate the price
            var total = (totalCost * transport) / (Km * 0.2);
            //round to two decimal places
            total = Math.round(total * 100) / 100;
            //two digits after decimal point
            total = total.toFixed(1);
            //Display the price
            document.getElementById("tip").innerHTML = total;
            $('#costModal').modal('toggle')

        }


    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <br />
    <br />

    <div class="page-section bg-light">
        <div class="container">
            <div class="text-center wow fadeInUp">
                <div class="subhead">Our services</div>
                <h2 class="title-section">Contact us!</h2>
                012081208
                <div class="divider mx-auto"></div>
            </div>
        </div>
    </div>
</div>

